.f-wrapper {
    .f-container {
        margin-top: 10rem;

        .footer {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            span {
                color: black;
            }


            .icons {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                padding: 5px 8px 5px 8px;
                gap: 1rem;
                border: 0.8px solid rgba(128, 128, 128, 0.143);
                transition: 400ms ease-in;
                cursor: pointer;
                border-radius: 25px;
                box-shadow: var(--shadow);

                svg {
                    fill: var(--primary);
                }

                svg:hover {
                    scale: 0.8;
                }

            }




            .icons>:nth-child(1) {
                width: 1.5rem;
                height: 1.5rem;
                border: none;
                outline: none;
                margin: 0.5rem;

            }


            .icons>:nth-child(2) {
                width: 1.5rem;
                height: 1.5rem;
                outline: none;
                border: none;
                margin: 0.5rem;


            }

            .icons>:nth-child(3) {
                width: 1.5rem;
                height: 1.5rem;
                border: none;
                outline: none;
                margin: 0.5rem;

            }

            .icons>:nth-child(4) {
                width: 1.5rem;
                height: 1.5rem;
                border: none;
                outline: none;
                margin: 0.5rem;

            }


            .icons:hover {
                scale: 1.1;
                box-shadow: var(--shadow);
            }


        }
    }
}